body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  box-sizing: border-box;
}

.linkim{
  text-decoration: none;
  color: aliceblue;
}


.heder{
  display: flex;
  justify-content: space-evenly;
}

.Server_card{
  border-bottom:  2px solid;
  display: flex; 
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;

}

